* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    margin: 0;
    padding: 0;
}

.container1 {

    background-color: #4c5d39;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 p {
    margin: 15px;
    color: white;
}

.container2 {
    background-color: #fffaf6;
    display: flex;
}

.container2 ul {
    margin: 20px 5px;
    display: inline-flex;
    text-indent: 10px;
}

.container2 ul li {
    text-decoration: none;
    padding-left: 30px;
}

.container2 h3 {
    justify-content: center;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.container2 h3 span {
    padding: 0px 0px 0px 200px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.span1 {
    color: black;
    font-weight: lighter;
    padding: 20px 150px 20px 0px;
    font-size: 20px;
    text-align: center;
}

.container2 ul li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    text-indent: 20px;

}
.container2 ul li a:active{
    display: block;
    /* width: 100px;
    height: ; */
    background-color: #a48470;
}
.container2 ul li a:hover {
    display: block;
    background-color: #9a551c;
    /* width: 100px;
    height: 20px; */
    padding: 20px;
}

.container3 {
    margin: 0px;
    background: url("../IMAGE/img-01.webp") no-repeat center/cover;
    width: 100%;
    height: 70vh;
    position: relative;
    overflow-y: hidden;
}

.container3 .c3-inner {
    padding: 150px 100px;
    width: 100%;
    height: 400px;

}

.container3 .c3-inner h1 {
    padding-top: 50px;
    font-family: sans-serif;
    font-weight: 100;
}

.c3-inner a {
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.button1 {
    background-color: #e6ddce;
    padding: 10px;
    text-align: center;
}

.button1:hover {
    background-color: #5b4e3a;
    font-weight: 200;
}

.container4 {
    background-color: #fffaf4;
    /* text-align: center; */
    /* display: flex; */
}

.container4 h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    padding-top: 75px;
}

.container4.p1 {
    text-align: center;
    font-family: monospace sans-serif;
}

.container4 .c4-inner {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;

}

.container4 img {
    width: 250px;
    height: 250px;
    padding: 30px;
}

.container4 .c4-inner h4 {
    font-weight: 100;
    padding: 10px;
    text-align: center;
}

.container4 .c4-inner p {
    text-align: center;

}

.container4 .c4-inner2 {
    padding-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.c4-inner2 a {
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #000;

}

.button2 {
    margin: 50px 110px 50px 670px;
    background-color: #ce9b7c;
    padding: 10px;
    text-align: center;
    color: #000;
}

.button2:hover {
    background-color: #937862;

}

.button {
    background-color: #ce9b7c;
    padding: 10px;
    text-align: center;
    color: #000;
}

.button:hover {
    background-color: #937862;
}

.container5 {
    background-color: #ebdece;
    margin: 0;
    width: 100vw;
    height: 100%;
    padding: 0;
    display: inline-flex;
    justify-content: center;

}

.container5 img {
    width: 400px;
    height: 400px;
    padding: 70px 100px 50px 0px;
}

.container5 .c5-inner {
    padding: 100px 20px 50px 50px;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.container5 .c5-inner a {
    text-decoration: none;
}

.container6 {
    margin-top: -10px;
    background-color: #4c5d39;
}

.container6 blockquote {
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    color: #f1e8dd;
    font-family: serif, 'Times New Roman', Times, serif;
}

.container6 p {
    text-align: center;
    padding-top: 20px;
    color: #f1e8dd;
    font-family: 'ChomskyRegular';
}

.container6.p1 {
    padding-bottom: 50px;
    font-size: 20px;
}

.container7 {
    background-color: #fffaf4;
    margin: 0px;
    padding-top: 50px;
    padding-left: 50px;
    display: inline-flex;
    width: 100%;

}

.container7 .c7-inner {
    text-align: left;
    padding: 150px 100px 150px 250px;
    /* line-height: 20px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* line-height: 20px; */

}


.container7 .c7-inner a {
    text-decoration: none;
}

.container7 .image-container {
    margin: 30px;
    margin-bottom: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container7 .image-container img {
    max-width: 100%;
    max-height: 100%;

}

.container8 {

    background-color: #ebdfcf;
    width: 100%;
    height: 20px;
}